@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* Navbar */

.navbar {
  background-color: rgba(255, 255, 255 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s;
}

.solid {
  background-color: rgba(255, 255, 255, 1); /* Opaque white when scrolling */
}

.transparent {
  background-color: transparent;
}

nav ul{
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

nav ul li {
  padding: 15px;
  font-size: 25px;
}

.nav-link {
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
  color: black;
} 

/* Modal */

.open-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff; /* Set your desired background color */
  color: white; /* Set the text color */
  padding: 10px 20px; /* Adjust padding to your preference */
  border: none;
  border-radius: 4px; /* Add rounded corners if desired */
  cursor: pointer; /* Show pointer cursor on hover */
  font-weight: 500; /* Adjust font weight */
  /* Add more styles as needed */
}

/* PDF */

@media (max-width: 768px) {
  .pdf-container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .pdf-container {
    width: 100%;
  }
}