@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
}

/* App.css (o tu archivo de estilos principal) */
.bg-transparent {
  background-color: transparent;
}

.bg-white {
  background-color: #fff;
}

.shadow-lg {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.p-4 {
  padding: 1rem;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/* Estilos específicos para tu barra de navegación */

.navbar {
  background-color: #333333; /* Fondo oscuro */
  color: #FFFFFF; /* Texto blanco o gris claro */
  font-family: 'Calibri', sans-serif; /* Fuente Calibri o similar */
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 10px; 
}

.navbar ul li {
  padding: 15px;
  font-size: 18px; 
}

.nav-link {
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
  color: #FFFFFF;
}

/* Agrega estilos para el botón de menú en dispositivos móviles */
/* Puedes personalizar estos estilos según sea necesario */
.navbar button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

/* Otras clases de Tailwind utilizadas en el componente Navbar (no es necesario definirlas, ya están en Tailwind) */
/* lg:hidden, lg:flex, lg:inline-block, lg:mt-0 */

/* Modal */

.open-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff; /* Set your desired background color */
  color: white; /* Set the text color */
  padding: 10px 20px; /* Adjust padding to your preference */
  border: none;
  border-radius: 4px; /* Add rounded corners if desired */
  cursor: pointer; /* Show pointer cursor on hover */
  font-weight: 500; /* Adjust font weight */
  /* Add more styles as needed */
}
