@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.hero-section h1 {
  font-size: 90px;
  font-weight: 500;
  margin-bottom: 20px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1.5);
}

.hero-section h3 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.hero-section p {
  font-size: 40px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.resume h1 {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
}

.resume h3 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.resume p {
  font-size: 15px;
  text-shadow: white;
}

/* For mobile screens */
@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 15px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1.5);
  }
  
  .hero-section h3 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  }
  
  .hero-section p {
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 15px;
  }
  
  .resume h1 {
    font-size: 40px;
    }
  
  .resume h3 {
    font-size: 30px;
  }

  .resume p {
    font-size: 16px;
    padding-bottom: 20px;
    font-style: italic;
    text-align: center;
  }

  .resume h1 {
    font-size: 36px;
    margin: 0;
  }
  
  .resume .experience h4 {
    font-style: italic;
    margin-top: 5px;
  }
  
  
}

/* Navbar */

.navbar {
  background-color: rgba(255, 255, 255 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s;
}

.solid {
  background-color: rgba(255, 255, 255, 1); /* Opaque white when scrolling */
}

.transparent {
  background-color: transparent;
}

nav ul{
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

nav ul li {
  padding: 15px;
  font-size: 25px;
}

.nav-link {
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
  color: black;
} 

/* Hero Section */


.hero-section {
  background-image: url('../src/img/hero.jpg');
  background-size: cover; /* Use "cover" to fill the entire hero section */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  padding: 20px;
  color: white;
  height: 80vh; /* Set the height of the hero section to 100% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* For mobile screens */
@media (max-width: 768px) {
  .hero-section {
    background-image: url('../src/img/hero.jpg');
    background-attachment: scroll; /* Change to scroll for better performance */
  }
}

.hero-section::before {
  content: "";
  background: url('../src/img/hero.jpg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.2; /* Adjust the opacity (0.5) as needed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.social-icon {
  display: inline-block;
  padding: 10px; /* Adjust padding as needed */
  border-radius: 50%; /* Makes the icons circular */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9); /* Add a shadow with desired properties */
  transition: transform 0.2s; /* Optional: Add a hover effect */
}

.social-icon:hover {
  transform: scale(1.1); /* Optional: Zoom in on hover */
}

/* Resume */

.resume {
  width: auto;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
}

.contact-info, .education, .experience {
  margin-top: 20px;
}

.resume .experience li {
  text-decoration: none;
  list-style: none;
  padding: 5px;
  text-align: left;
  font-style: italic;
}

/* Modal */

.open-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff; /* Set your desired background color */
  color: white; /* Set the text color */
  padding: 10px 20px; /* Adjust padding to your preference */
  border: none;
  border-radius: 4px; /* Add rounded corners if desired */
  cursor: pointer; /* Show pointer cursor on hover */
  font-weight: 500; /* Adjust font weight */
  /* Add more styles as needed */
}

